<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ComplexServices" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ComplexServices">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65434/ComplexCalculatorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ComplexServices"
                contract="ComplexCalculatorService.ComplexServices" name="BasicHttpBinding_ComplexServices" />
            <endpoint address="net.tcp://localhost:65435/ComplexCalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ComplexServices"
                contract="ComplexCalculatorService.ComplexServices" name="NetTcpBinding_ComplexServices">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>